{% extends main.html %}

{% block nav %}
{% include nav.html %}
{% end %}

{% block image %}
{% include image.html %}
{% end %}

{% block footer %}
{% include footer.html %}
{% end %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Article posted on: {{ article_data["date-created"] }}</p>
            <div class="card m-4">
                <div class="card-body">
                    <p class="card-text">
                    {% raw body_html %}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% end %}
