<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About me</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Motorcycle tests</a>
                    <a class="dropdown-item" href="#">Gear tests</a>
                </div>
            </li>
        </ul>
        <!--Search to be implemented later?-->
        <!--
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
    </div>
</nav>
<div class="container">
    <img src="static/assets/images/ktm-background-1080.jpg" class="img-fluid" alt="Moto">
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to motoblog</h1>
            <p>This is a blog about motorcycling. Please check out my latest articles</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Latest</h2>
            <table class="w-100">
                <tr>
                    <td>
                        <div class="container">
                            <h4>Article1</h4>
                            <img src="../articles/chicks-dig-bikes/thumb.jpg" alt="">
                            <p>Synopsis</p>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <h4>Article1</h4>
                            <img src="../articles/chicks-dig-bikes/thumb.jpg" alt="">
                            <p>Synopsis</p>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <h4>Article1</h4>
                            <img src="../articles/chicks-dig-bikes/thumb.jpg" alt="">
                            <p>Synopsis</p>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>


</div>

<div class="container bg-dark text-light pt-4 pb-4">
    <p class="pb-2">Motoblog by Dennis Van Eecke</p>
    <p><strong>Adress:</strong> Dikkereetstraat 88, 9520 Konteghem (BE)</p>
    <p><strong>Facebook:</strong> ERROR! Intelligence too high for FaceBook</p>
</div>

<!--Scripts-->
<script src="static/js/jquery-3.4.1.min.js"></script><!--Bootstrap dependency-->
<script src="static/js/popper.min.js"></script><!--Bootstrap dependency-->
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>